Repository yasanglass/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: :about, :compose, :core, :koin, :sample:composeApp

Update Gradle Wrapper from 9.3.1 to 9.4.0
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Add codecov badge
  README.md
Due: none

Migrate to Kepko v1.3 with persistence support
  gradle/libs.versions.toml
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/SampleNavHost.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/theme/Theme.kt
Due: :sample:composeApp

Add Context7 docs refresh to release pipeline
  .github/workflows/context7.yml
  .github/workflows/publish.yml
Due: none

Update AboutRepository TODO
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/data/repository/AboutRepositoryImpl.kt
Due: :about

Update Gradle Wrapper from 9.4.0 to 9.4.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

Skip Codecov on dependency PRs
  .github/workflows/jvm.yml
Due: none

Remove ColorExtensions
  compose/src/commonMain/kotlin/glass/yasan/toolkit/compose/color/ColorExtensions.kt
Due: :compose

Add onTrackDeveloperLinkClick callback to ToolkitDeveloperContent
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
Due: :about

Bump version to 1.7.8
  build.gradle.kts
Due: none

Revert "Log view state/action/event usages"
  compose/src/commonMain/kotlin/glass/yasan/toolkit/compose/viewmodel/ToolkitViewModel.kt
Due: :compose

Revert "Add logger to ToolkitViewModel"
  compose/build.gradle.kts
  compose/src/commonMain/kotlin/glass/yasan/toolkit/compose/viewmodel/ToolkitViewModel.kt
Due: :compose

Update dependencies
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperBanner.kt
  gradle/libs.versions.toml
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
Due: :about, :sample:composeApp

Setup local maven publishing
  .run/Publish to Maven Local.run.xml
  build.gradle.kts
Due: none

Refine URL launcher result handling
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.android.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLaunchResult.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncher.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.kt
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.js.kt
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
  core/src/macosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.macos.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.wasmjs.kt
Due: :core

Remove unused Kermit dependency
  core/build.gradle.kts
  gradle/libs.versions.toml
Due: none

Handle ActivityNotFoundException in URL launcher fallback
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.android.kt
Due: :core

Use synchronous openURL to check launch result on iOS
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
Due: :core

Check window.open result for popup-blocked on JS
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.js.kt
Due: :core

Map URI parse exceptions to InvalidUrl on JVM
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
Due: :core

Revert to non-deprecated openURL on iOS
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
Due: :core

Make UrlLauncher.launch a suspend function
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.android.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncher.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.kt
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.js.kt
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
  core/src/macosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.macos.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.wasmjs.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
Due: :about, :core, :sample:composeApp

Add DeepWiki badge to README
  README.md
Due: none

Remove redundant canOpenURL gate on iOS
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
Due: :core

Fix desktop UrlLauncherImpl handling of errors & dispatcher
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
  koin/src/jvmMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.jvm.kt
Due: :core, :koin

Check window.open result for popup-blocked on WasmJS
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/Window.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.wasmjs.kt
Due: :core

Add JS sample app entry point and run config
  .run/Run Sample JS.run.xml
  kotlin-js-store/yarn.lock
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/jsMain/kotlin/glass/yasan/toolkit/sample/main.kt
  sample/composeApp/src/jsMain/resources/favicon.webp
  sample/composeApp/src/jsMain/resources/index.html
Due: :sample:composeApp

Improve URL Launch result handling (#81)
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  core/build.gradle.kts
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.android.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLaunchResult.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncher.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.kt
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.js.kt
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
  core/src/macosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.macos.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/Window.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.wasmjs.kt
  gradle/libs.versions.toml
  koin/src/jvmMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.jvm.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
Due: :about, :core, :koin, :sample:composeApp

Add system bar colors to sample app
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
Due: :sample:composeApp

Update to Kepkov 1.4
  gradle/libs.versions.toml
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/SampleNavHost.kt
Due: :sample:composeApp

Do not set default value for onTrackDeveloperLinkClick
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/AboutScreen.kt
Due: :about, :sample:composeApp

Remove picture in developer object
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/domain/model/Developer.kt
Due: :about

Update Kepko to 1.4.7
  gradle/libs.versions.toml
Due: none

Bump version to 1.7.10
  build.gradle.kts
Due: none

Update dependencies
  gradle/libs.versions.toml
Due: none

Bump version to 1.7.11
  build.gradle.kts
Due: none

Replace deprecated Compose accessors with direct dependencies
  about/build.gradle.kts
  compose/build.gradle.kts
  gradle/libs.versions.toml
  sample/composeApp/build.gradle.kts
Due: none

Update Kepko to 1.4.10
  gradle/libs.versions.toml
Due: none

Path conditions:
  :about: any of: about/src/**
  :compose: any of: compose/src/**
  :core: any of: core/src/**
  :koin: any of: koin/src/**
  :sample:composeApp: any of: sample/composeApp/src/**
