Repository yasanglass/toolkit: changes, and which Codecov flags are due for each by the changed paths.
All: :about, :compose, :core, :koin, :sample:composeApp

Rename UrlLauncher to PlatformUrlLauncher
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.android.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncher.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLaunchResult.kt
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.ios.kt
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.js.kt
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.jvm.kt
  core/src/macosMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.macos.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.wasmjs.kt
  koin/src/androidMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.android.kt
  koin/src/iosMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.ios.kt
  koin/src/jsMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.js.kt
  koin/src/jvmMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.jvm.kt
  koin/src/macosMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.macos.kt
  koin/src/wasmJsMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.wasmJs.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
Due: :about, :core, :koin, :sample:composeApp

Return InvalidUrl for schemeless URLs on Android
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.android.kt
Due: :core

Revert "Return InvalidUrl for schemeless URLs on Android"
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/PlatformUrlLauncherImpl.android.kt
Due: :core

Revert "Rename UrlLauncher to PlatformUrlLauncher"
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.android.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLaunchResult.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncher.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.kt
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.js.kt
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
  core/src/macosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.macos.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.wasmjs.kt
  koin/src/androidMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.android.kt
  koin/src/iosMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.ios.kt
  koin/src/jsMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.js.kt
  koin/src/jvmMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.jvm.kt
  koin/src/macosMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.macos.kt
  koin/src/wasmJsMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.wasmJs.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
Due: :about, :core, :koin, :sample:composeApp

Update to Kepko v1.5
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  gradle/libs.versions.toml
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/HomeScreen.kt
Due: :about, :sample:composeApp

Bump version to 1.7.12
  build.gradle.kts
Due: none

Update dependencies
  gradle/libs.versions.toml
Due: none

Bump version to 1.7.13
  build.gradle.kts
Due: none

Remove `update-gradle-wrapper.yml`
  .github/workflows/update-gradle-wrapper.yml
Due: none

Add Codex sample desktop run config
  .codex/environments/environment.toml
Due: none

Render grouped about links
  about/src/commonMain/composeResources/drawable/ic_mail.xml
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
Due: :about

Group developer links by type
  about/src/commonMain/composeResources/values/strings.xml
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/domain/model/Developer.kt
Due: :about

Bump version to 1.7.14
  build.gradle.kts
Due: none

Migrate library modules to AGP 9 KMP plugin
  about/build.gradle.kts
  build.gradle.kts
  compose/build.gradle.kts
  core/build.gradle.kts
  core/src/macosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.macos.kt
  gradle/libs.versions.toml
  koin/build.gradle.kts
  koin/src/macosMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.macos.kt
Due: :core, :koin

Split sample composeApp into androidApp module
  sample/androidApp/build.gradle.kts
  sample/androidApp/src/main/AndroidManifest.xml
  sample/androidApp/src/main/ic_launcher-playstore.png
  sample/androidApp/src/main/kotlin/glass/yasan/toolkit/sample/MainActivity.kt
  sample/androidApp/src/main/kotlin/glass/yasan/toolkit/sample/SampleApplication.kt
  sample/androidApp/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  sample/androidApp/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  sample/androidApp/src/main/res/mipmap-hdpi/ic_launcher.webp
  sample/androidApp/src/main/res/mipmap-hdpi/ic_launcher_foreground.webp
  sample/androidApp/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  sample/androidApp/src/main/res/mipmap-mdpi/ic_launcher.webp
  sample/androidApp/src/main/res/mipmap-mdpi/ic_launcher_foreground.webp
  sample/androidApp/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  sample/androidApp/src/main/res/mipmap-xhdpi/ic_launcher.webp
  sample/androidApp/src/main/res/mipmap-xhdpi/ic_launcher_foreground.webp
  sample/androidApp/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  sample/androidApp/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  sample/androidApp/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.webp
  sample/androidApp/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  sample/androidApp/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  sample/androidApp/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.webp
  sample/androidApp/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  sample/androidApp/src/main/res/values/ic_launcher_background.xml
  sample/androidApp/src/main/res/values/strings.xml
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/macosMain/kotlin/glass/yasan/toolkit/sample/main.kt
  settings.gradle.kts
Due: :sample:composeApp

Remove obsolete macOS native CI workflow
  .github/workflows/macos.yml
Due: none

Bump version to 1.7.15
  build.gradle.kts
Due: none

Switch workflows from Zulu to Temurin
  .github/workflows/android.yml
  .github/workflows/detekt.yml
  .github/workflows/docs.yml
  .github/workflows/ios.yml
  .github/workflows/js.yml
  .github/workflows/jvm.yml
  .github/workflows/publish.yml
  .github/workflows/wasm.yml
Due: none

Update Kepko to 1.5.9
  gradle/libs.versions.toml
Due: none

Bump version to 1.7.16
  build.gradle.kts
Due: none

Update Kepko to 1.6.0
  gradle/libs.versions.toml
Due: none

Bump version to 1.7.17
  build.gradle.kts
Due: none

Disable Dependabot
  .github/dependabot.yml
Due: none

Update dependencies
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Due: none

Add sample builds to GitHub releases
  .github/workflows/publish.yml
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/jvmMain/resources/app_icon.ico
  sample/composeApp/src/jvmMain/resources/app_icon.png
Due: :sample:composeApp

Update Android Gradle plugin to 9.3.1
  gradle/libs.versions.toml
Due: none

Enable Renovate
  renovate.json
Due: none

Upgrade yarn lock
  kotlin-js-store/yarn.lock
Due: none

Bump version to 1.7.19
  build.gradle.kts
Due: none

Fix JVM target compatibility
  about/build.gradle.kts
  build.gradle.kts
  compose/build.gradle.kts
  core/build.gradle.kts
  gradle/gradle-daemon-jvm.properties
  koin/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: none

Automatically add utm_source query parameter for links launched by UrlLauncher
  core/build.gradle.kts
  core/src/androidMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.android.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/app/ToolkitApp.kt
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/tracking/UrlExtensions.kt
  core/src/commonTest/kotlin/glass/yasan/toolkit/core/tracking/UrlExtensionsTest.kt
  core/src/iosMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.ios.kt
  core/src/jsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.js.kt
  core/src/jvmMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.jvm.kt
  core/src/wasmJsMain/kotlin/glass/yasan/toolkit/core/url/UrlLauncherImpl.wasmjs.kt
  koin/src/androidMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.android.kt
  koin/src/iosMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.ios.kt
  koin/src/jsMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.js.kt
  koin/src/jvmMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.jvm.kt
  koin/src/jvmTest/kotlin/glass/yasan/toolkit/koin/ToolkitCoreModuleTest.kt
  koin/src/wasmJsMain/kotlin/glass/yasan/toolkit/koin/PlatformModule.wasmJs.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/di/SampleModule.kt
Due: :core, :koin, :sample:composeApp

Bump version to 1.7.20
  build.gradle.kts
Due: none

Remove `about` module & adjust build setup
  about/.gitignore
  about/build.gradle.kts
  about/src/commonMain/composeResources/drawable/dev_logo_horizontal.xml
  about/src/commonMain/composeResources/drawable/dev_logo_vertical.xml
  about/src/commonMain/composeResources/drawable/ic_bluesky.xml
  about/src/commonMain/composeResources/drawable/ic_discord.xml
  about/src/commonMain/composeResources/drawable/ic_github.xml
  about/src/commonMain/composeResources/drawable/ic_gumroad.xml
  about/src/commonMain/composeResources/drawable/ic_language.xml
  about/src/commonMain/composeResources/drawable/ic_mail.xml
  about/src/commonMain/composeResources/drawable/ic_mastodon.xml
  about/src/commonMain/composeResources/drawable/ic_play_store.xml
  about/src/commonMain/composeResources/drawable/ic_telegram.xml
  about/src/commonMain/composeResources/drawable/ic_translate.xml
  about/src/commonMain/composeResources/values/strings.xml
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/data/repository/AboutRepositoryImpl.kt
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/domain/model/Developer.kt
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/domain/repository/AboutRepository.kt
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperBanner.kt
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperContent.kt
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperLogoHorizontal.kt
  about/src/commonMain/kotlin/glass/yasan/toolkit/about/presentation/compose/ToolkitDeveloperLogoVertical.kt
  build.gradle.kts
  koin/build.gradle.kts
  koin/src/commonMain/kotlin/glass/yasan/toolkit/koin/ToolkitModule.kt
  sample/composeApp/build.gradle.kts
  sample/composeApp/src/commonMain/composeResources/values/strings.xml
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleApp.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/SampleViewModel.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/AboutScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/HomeScreen.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/Route.kt
  sample/composeApp/src/commonMain/kotlin/glass/yasan/toolkit/sample/navigation/SampleNavHost.kt
  settings.gradle.kts
Due: :about, :koin, :sample:composeApp

Update AGP to 9.3.2
  gradle/libs.versions.toml
Due: none

Update dependencies & Gradle setup
  .github/workflows/android.yml
  .github/workflows/detekt.yml
  .github/workflows/docs.yml
  .github/workflows/ios.yml
  .github/workflows/js.yml
  .github/workflows/jvm.yml
  .github/workflows/publish.yml
  .github/workflows/wasm.yml
  compose/build.gradle.kts
  compose/src/commonMain/kotlin/glass/yasan/toolkit/compose/preview/BooleanPreviewParameterProvider.kt
  compose/src/commonMain/kotlin/glass/yasan/toolkit/compose/preview/NullableBooleanPreviewParameterProvider.kt
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
  koin/build.gradle.kts
  sample/androidApp/build.gradle.kts
  sample/composeApp/build.gradle.kts
Due: :compose

Upgrade yarn lock for Kotlin 2.4.20
  kotlin-js-store/yarn.lock
Due: none

Update dependencies (#92)
  gradle/libs.versions.toml
  kotlin-js-store/yarn.lock
Due: none

Create `ToolkitApp.trackedUrl`
  core/src/commonMain/kotlin/glass/yasan/toolkit/core/tracking/TrackedUrl.kt
Due: :core

Path conditions:
  :about: any of: about/src/**
  :compose: any of: compose/src/**
  :core: any of: core/src/**
  :koin: any of: koin/src/**
  :sample:composeApp: any of: sample/composeApp/src/**
